<div class="navigation">
<a href="<%= url('/') %>">&larr; Back to all</a>
</div>

<div class="spinner">
  <form class="shortly">
      <input class="text" type='text' name="url">
      <input type="submit" value="Shorten">
  </form>
  <img src="/spiffygif_46x46.gif">
</div>

<div id="shortcode"></div>

<script type="text/javascript">

  var startSpinner = function(){
    $('.spinner img').show();
    $('form input[type=submit]').attr('disabled', "true");
    $('#shortcode').html("").removeClass('error');
  };

  var stopSpinner = function(){
    $('.spinner img').fadeOut('fast');
    $('form input[type=submit]').attr('disabled', null);
    $('#shortcode').html("").removeClass('error');
  }

  $(function() {
    $('.shortly').submit(function(e) {
      startSpinner();
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: '/new',
        data: $('.shortly').serialize(),
        success: function(data){
          var link = JSON.parse(data);
          var short_link = link.base_url + "/" + link.code;

          var $info   = $('<div>', {class: 'info'});
          $info.append( $('<div>', {class: 'title'}).text(link.title) );
          $info.append( $('<div>', {class: 'original'}).text(link.url) );
          $info.append( $('<a>',   {class: 'shortlink', href: short_link}).text(short_link) );

          var $div   = $('<div>', {class: 'link'});
          $div.append( $('<img>', {src: '/redirect_icon.png'}) );
          $div.append( $info );

          stopSpinner();
          $('#shortcode').html($div.hide().fadeIn()).removeClass('error');
        },
        error: function(){
          stopSpinner();
          $('#shortcode').html("Please enter a valid URL").addClass('error');
        }
      });

      $('.shortly .text').val('');

      return false;
    });
  });
</script>
